!.gitignore

# Capr
.Rprofile
.Rhistory
.Rproj.user
.DS_Store
errorReportSql.txt
*.log
/Meta/
work/*
scratch/
inst/doc

# project-specific
project/config/*
!project/config/*-sample.yml
project/vocabularies/*
project/data/*
!project/data/phems_variable_list
