!.gitignore

# Capr
.Rhistory
.Rproj.user
.Rprofile
.DS_Store
errorReportSql.txt
*.log
/Meta/
work/*
scratch/
inst/doc

# project-specific
inst/config/*
!inst/config/*-sample.yml

inst/extdata/**/*

!inst/extdata/phems_variable_list

!inst/extdata/json
inst/extdata/json/*

!inst/extdata/standard_concepts
inst/extdata/standard_concepts/*

!inst/extdata/vocabularies
inst/extdata/vocabularies/*

*inst/templates
*inst/config

Capr-PHEMS.Rproj
renv.lock

R/conceptSets.R
R/queryDB.R
./man/conceptSets.Rd

inst/res

!inst/extdata/*.csv
inst/extdata/*

!*.gitkeep

renv