!.gitignore

# Capr
.Rhistory
.Rproj.user
.DS_Store
errorReportSql.txt
*.log
/Meta/
work/*
scratch/
inst/doc

# project-specific
project/config/*
!project/config/config-sample.yml
project/vocabularies/
